header {
    /* border: 0.1rem solid red; */
    height: 2rem;
    background-color: #252523;
    
    color: #eee;
    display: flex;
    /* justify-content: center; */
    align-content: center;
    align-items: center;
    padding: .5rem;
}

.menu-hamburguer{
    border: .1rem solid red;
    border-radius: 100%;
}

